/* 
	Lance Foley
	Author: Lance Foley
	Version: 0.0.1
*/
/* _normalize.scss */
.extra-pad {
  padding-top: 40px;
  padding-bottom: 40px; }

.extra-pad-top {
  padding-top: 40px; }

.extra-pad-top2 {
  padding-top: 20px;
  margin-top: 20px; }

.extra-pad-bottom {
  padding-bottom: 40px;
  margin-bottom: 40px; }

.space-pad {
  padding-bottom: 20px;
  margin-bottom: 20px; }

.space-pad-2 {
  padding-bottom: 10px;
  margin-bottom: 10px; }

.extra-pad-left {
  padding-left: 30px; }

.extra-pad-right {
  padding-right: 30px; }

.margin-right {
  margin-right: 30px; }

.margin-left {
  margin-left: 30px; }

/* _base.scss */
.body2 {
  margin: 0;
  background: url("../img/_2800x1867.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.btn-custom {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  border-radius: 0px;
  font-size: 2em; }

#lay1 {
  z-index: 3;
  height: 100px;
  position: relative;
  margin: 0px 0px 0px 0px;
  top: 17.5em;
  text-align: center; }

#lay2 {
  z-index: 1;
  position: relative;
  top: 0px;
  margin: 0px 0px 0px 0px;
  text-align: center; }

h1 {
  font-family: "PT Serif", serif;
  font-style: italic;
  font-weight: normal !important;
  font-size: 3em !important;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  color: black !important;
  text-align: center !important; }

h2 {
  font-family: "PT Serif", serif;
  font-style: italic;
  text-decoration: line-through;
  font-weight: normal !important;
  font-size: 3em !important;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  color: black !important;
  text-align: center !important; }

h3 {
  font-family: "PT Serif", serif;
  font-size: 16px !important;
  line-height: 1.2em;
  color: black !important;
  font-weight: normal;
  margin-top: 10px !important; }
  h3 a:link {
    color: #b0afaf !important;
    font-style: italic;
    font-weight: normal;
    font-size: 16px !important; }
  h3 a:hover {
    color: black !important;
    text-decoration: none; }
  h3 a:focus {
    color: black !important;
    text-decoration: none; }
  h3 a:active {
    color: black !important;
    text-decoration: none; }

h4 {
  font-family: "PT Sans", sans-serif;
  font-size: 16px !important;
  color: black !important;
  font-weight: bold;
  margin-top: 10px !important;
  margin-bottom: 10px !important; }

h5 {
  font-family: "PT Sans", sans-serif;
  font-size: 4em !important;
  color: black !important;
  font-weight: normal;
  margin-top: 30% !important;
  margin-bottom: 10px !important;
  margin-left: 0px !important; }

h6 {
  font-family: "PT Serif", serif;
  font-size: 1.3em !important;
  line-height: 1.3em !important;
  color: black !important;
  opacity: 0.5;
  font-style: italic;
  margin-top: 10px !important; }

img.device {
  width: 100%; }

/* _sections.scss */
#rectangle {
  width: 110px;
  height: 2px;
  background: black; }

/* -----------------------------------------------------------------------------

  NAVBAR
  
----------------------------------------------------------------------------- */
.navbar {
  border: none;
  background: white !important; }

.navbar-brand {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 26px !important;
  color: black !important; }

.navbar-default .navbar-toggle .icon-bar {
  background-color: black; }

.nav {
  font-family: "PT Sans", sans-serif;
  letter-spacing: 0.5px;
  padding-bottom: 0px !important;
  padding-top: 0px !important; }
  .nav a:hover {
    color: black !important; }
  .nav a:focus {
    color: black !important; }
  .nav a:active {
    color: black !important; }

/* -----------------------------------------------------------------------------

  NEW ANIMATED 90 degree turn HAMBURGER CLASSES
  
----------------------------------------------------------------------------- */
.navbar-toggle {
  border: none;
  background: transparent !important; }
  .navbar-toggle:hover {
    background: transparent !important; }
  .navbar-toggle .icon-bar {
    width: 22px;
    transition: all 0.2s; }
  .navbar-toggle .top-bar {
    -webkit-transform: translateX(6px) translateY(6px) rotateZ(90deg);
    -ms-transform: translateX(6px) translateY(6px) rotateZ(90deg);
    transform: translateX(6px) translateY(6px) rotateZ(90deg); }
  .navbar-toggle .middle-bar {
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    transform: rotateZ(90deg); }
  .navbar-toggle .bottom-bar {
    -webkit-transform: translateX(-6px) translateY(-6px) rotateZ(90deg);
    -ms-transform: translateX(-6px) translateY(-6px) rotateZ(90deg);
    transform: translateX(-6px) translateY(-6px) rotateZ(90deg); }

.navbar-toggle.collapsed .top-bar {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }
.navbar-toggle.collapsed .middle-bar {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }
.navbar-toggle.collapsed .bottom-bar {
  -webkit-transform: rotate(0);
  -ms-transform: rotate(0);
  transform: rotate(0); }

.top-bar-modal {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.bottom-bar-modal {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

@media (min-width: 768px) {
  .side-copy {
    text-align: right;
    float: left !important; }

  .nav {
    font-size: 16px; }
    .nav li {
      margin: 0px 0; } }
@media (max-width: 767px) {
  .extra-pad {
    padding-top: 0px; } }
