/* _base.scss */

.body2 {
     margin: 0;
     background: url('../img/new_2800x1867.jpg') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.body3 {
     margin: 0;
     background: url('../img/ohsnap_2800x1867.png') no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
}

.btn-custom {
  color: #ffffff;
  background-color: #000000;
  border-color: #000000;
  border-radius: 0px;
  font-size: 2em;
}

#lay1 {
        z-index: 3;
        height: 100px;
        position: relative;
        margin: 0px 0px 0px 0px;
        top: 17.5em;
        text-align: center;
}

#lay2 {
        z-index: 1;
        position: relative;
        top: 0px;
        margin: 0px 0px 0px 0px;
        text-align: center;
}

h1 {
	font-family: $serif-font-family;
  font-style: italic;
  font-weight: normal !important;
  font-size: 3em !important;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  color: $black !important;
  text-align: center !important;
}

h2 {
	font-family: $serif-font-family;
  font-style: italic;
  text-decoration: line-through;
  font-weight: normal !important;
  font-size: 3em !important;
  line-height: 1.2em;
  letter-spacing: 0.06em;
  color: $black !important;
  text-align: center !important;
}

h3 {
	font-family: $serif-font-family;
    font-size: 16px !important;
    line-height: 1.2em;
    color: $black !important;
    font-weight: normal;
    margin-top: 10px !important;
    a:link{ 
      color: $lt-grey !important;
      font-style: italic;
      font-weight: normal;
      font-size: 16px !important;
    }
    a:hover{ 
      color: $black !important;
      text-decoration: none; 
    }
    a:focus{
      color: $black !important;
      text-decoration: none;     
    }
    a:active{
     color: $black !important; 
     text-decoration: none;    
    }
}

h4 {
	font-family: $reg-font-family;
    font-size: 16px !important;
    color: $black !important;
    font-weight: bold;
    margin-top: 10px !important;
    margin-bottom: 10px !important;
}

h5 {
	font-family: $reg-font-family;
    font-size: 4em !important;
    color: $black !important;
    font-weight: normal;
    margin-top: 30% !important;
    margin-bottom: 10px !important;
    margin-left: 0px !important;
}

h6 {
	font-family: $serif-font-family;
    font-size: 1.3em !important;
    line-height: 1.3em !important;
    color: $black !important;
    opacity: 0.5;
    font-style: italic;
    margin-top: 10px !important;
}



// Image 
img.device{
	width: 100%;
}
