// -----------------------------------------------------------------------------
//
// FONTS
//
// -----------------------------------------------------------------------------
// Nav Fonts
$nav-font-size: 16px;
$nav-font-family: 'PT Sans', sans-serif;
$nav-font-color: #666666;

// Narrow
$narrow-font-size: 24px;
$narrow-font-family: 'PT Sans Narrow', sans-serif;
$narrow-font-color: #666666;

// Regular Sans
$reg-font-size: 16px;
$reg-font-family: 'PT Sans', sans-serif;
$reg-font-color: #666666;

// Regular Serif
$serif-font-size: 16px;
$serif-font-family: 'PT Serif', serif;
$serif-font-color: #666666;


//$base-font-size: 16px;
//$base-font-family: 'PT Serif', serif;
//$base-font-color: #666666;

// Colors 
$black: #000000;
$dark-grey: #3e3c3c;
$green: #3CF02C;
$white: #ffffff;
$lt-grey: #b0afaf;

// Hero Area 
$hero-height: 600px;
$hero-image: 'img/one.jpg';


// -----------------------------------------------------------------------------
//
// COLORS
//
// -----------------------------------------------------------------------------


// -----------------------------------------------------------------------------
//
// BREAKPOINTS
//
// -----------------------------------------------------------------------------


//$breakpoint--small: 480px;
//$breakpoint--medium: 720px;
//$breakpoint--large: 1020px;
//$breakpoint--xlarge: 1200px;
