/* -----------------------------------------------------------------------------

  NEW ANIMATED 90 degree turn HAMBURGER CLASSES
  
----------------------------------------------------------------------------- */

.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    -webkit-transform: translateX(6px) translateY(6px) rotateZ(90deg);
    -ms-transform: translateX(6px) translateY(6px) rotateZ(90deg);
    transform: translateX(6px) translateY(6px) rotateZ(90deg);
  }
  .middle-bar {
    -webkit-transform: rotateZ(90deg);
    -ms-transform: rotateZ(90deg);
    transform: rotateZ(90deg);
  }
  .bottom-bar {
    -webkit-transform: translateX(-6px) translateY(-6px) rotateZ(90deg);
    -ms-transform: translateX(-6px) translateY(-6px) rotateZ(90deg);
    transform: translateX(-6px) translateY(-6px) rotateZ(90deg);
  }
}

// Add the “default” hamburger styles to fix that. 
// These get activated and applied by default because the page usually loads 
// with the menu collapsed and the .collapsed class already added

.navbar-toggle.collapsed {
  .top-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .middle-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .bottom-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}



/* -----------------------------------------------------------------------------

  NEW ANIMATED X HAMBURGER CLASSES
  
----------------------------------------------------------------------------- */

/*
.navbar-toggle {
  border: none;
  background: transparent !important;

  &:hover {
    background: transparent !important;
  }

  .icon-bar {
    width: 22px;
    transition: all 0.2s;
  }
  .top-bar {
    -webkit-transform: translateX(3px) rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    -ms-transform: translateX(3px) rotate(45deg);
    -ms-transform-origin: 10% 10%;
    transform: translateX(3px) rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    -webkit-transform: translateX(3px) rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    -ms-transform: translateX(3px) rotate(-45deg);
    -ms-transform-origin: 10% 90%;
    transform: translateX(3px) rotate(-45deg);
    transform-origin: 10% 90%;
  }
}

// Add the “default” hamburger styles to fix that. 
// These get activated and applied by default because the page usually loads 
// with the menu collapsed and the .collapsed class already added

.navbar-toggle.collapsed {
  .top-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  .middle-bar {
    opacity: 1;
  }
  .bottom-bar {
    -webkit-transform: rotate(0);
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
}

*/


